<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragmientAdmin/head :: formField(title = 'Admin')"></head>
<style>
    .description-about{
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .messages{
        text-align: center;
        font-size: 20px;
        font-weight: 1000;
        background: #25cf98;
        align-items: center;
        justify-content: center;
        align-content: center;
        display: flex;
    }
</style>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <nav th:replace="admin/fragmientAdmin/nav"></nav>

    <aside th:replace="admin/fragmientAdmin/slider-bar"></aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->

        <div class="content-header">
            <div class="container-fluid">
                <div class="row" th:if="${update_product_success}">
                    <p class="messages" th:text="${'You have update product id is:' + update_product_id }"></p>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">About Infomation</h1>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row justify-content-center m-auto" style="width: 95%" >
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">Subtitle</th>
                            <th scope="col">Image</th>
                            <th scope="col">Topic</th>
                            <th scope="col">Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="about,count : ${aboutList}">
                            <tr>
                                <td class="text-center" th:text="${count.index + 1}">Mark</td>
                                <td th:text="${about.getAboutId()}">Mark</td>
                                <td >
                                    <p class="description-about" th:text="${about.getAboutTitle()}" style="max-width: 100px;"></p>
                                </td>
                                <td >
                                    <p class="description-about" th:text="${about.getAboutSub()}" style="max-width: 100px;"></p>
                                </td>
                                <td >
                                    <img th:src="${about.getAboutImg()}" width="100px">
                                </td>
                                <td >
                                    <p class="description-about" th:text="${about.getAboutTopic()}" style="max-width: 100px;"></p>
                                </td>
                                <td >
                                    <p class="description-about" th:text="${about.getName()}" style="max-width: 250px;"></p>
                                </td>
                                <td th:text="${about.getStatus() == 1 ? 'on' : 'off'}">Mark</td>
                                <td >
                                    <a    th:href="@{/admin/about/update/{id}(id=${about.getAboutId()})}" class="text-decoration-none pr-3"><button class="btn btn-info">Edit</button></a>
                                </td>

                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                    <nav aria-label="..." class="d-flex justify-content-center" th:if="${currentPage != null}">
                        <ul class="pagination">
                            <li class="page-item" th:classappend="${currentPage} == 1 ? 'disabled' : ''">
                                <a class="page-link" href="#" th:if="${currentPage > 1}" th:href="@{/admin/about/update}" >First</a>
                                <a class="page-link" href="#" th:unless="${currentPage > 1}">First</a>
                            </li>
                            <li class="page-item " th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                                <a class="page-link"    tabindex="-1 " th:if="${currentPage > 1}" th:href="@{/admin/about/update(page=${currentPage -1})}">Previous</a>
                            </li>
                            <li class="page-item" th:if="${currentPage > 1}">
                                <a class="page-link"    tabindex="-1 "    th:href="@{/admin/about/update(page=${currentPage -1})}" th:text="${currentPage -1}"></a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#" th:text="${currentPage}"><span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item" th:if="${currentPage < totalPages}">
                                <a class="page-link"    tabindex="-1 "    th:href="@{/admin/about/update(page=${currentPage +1})}" th:text="${currentPage    + 1}"></a>
                            </li>
                            <li class="page-item " th:classappend="${currentPage == totalPages ? 'disabled':''}">
                                <a class="page-link"    th:href="@{/admin/about/update(page=${currentPage +1})}">Next</a>
                            </li>
                            <li class="page-item" th:if="${currentPage < totalPages}">
                                <a class="page-link" th:href="@{/admin/about/update(page=${totalPages})}">Last</a>
                            </li>
                        </ul>
                    </nav>
                    <!--                                        <div class="page-item text-center align-content-center">-->
                    <!--                                                <a th:if="${currentPage > 1}" th:href="@{/admin/product}">First</a>-->
                    <!--                                                <span th:unless="${currentPage > 1}" >First</span>-->
                    <!--                                                <span th:each="i: ${#numbers.sequence(1, totalPages)}">-->
                    <!--                                                        <a th:if="${currentPage != i}" th:href="@{/admin/product(page=${i})}">[[${i}]]</a>-->
                    <!--                                                        <span th:unless="${currentPage != i}">[[${i}]]</span>-->
                    <!--                                                        &nbsp;-->
                    <!--                                                </span>-->
                    <!--                                                <a th:if="${currentPage < totalPages}" th:href="@{/admin/product(page=${currentPage + 1})}" >Next</a>-->
                    <!--                                                <span th:unless="${currentPage < totalPages}">Next</span>-->
                    <!--                                                <a th:if="${currentPage < totalPages}" th:href="@{/admin/product(page=${totalPages})}">Last</a>-->
                    <!--                                                <span th:unless="${currentPage < totalPages}">Last</span>-->
                    <!--                                        </div>-->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
        <div class="p-3">
            <h5>Title</h5>
            <p>Sidebar content</p>
        </div>
    </aside>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <footer th:replace="admin/fragmientAdmin/footer"></footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<div th:replace="admin/fragmientAdmin/addjs"></div>
</body>
</html>
